vendor/
bin/
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/codeception.xml
/.idea/collections.iml
/.idea/deployment.xml
/.idea/dictionaries
/.idea/modules.xml
/.idea/php.xml
/.idea/php-test-framework.xml
/.idea/phpspec.xml
/.idea/phpunit.xml
/.idea/vcs.xml
/.phpunit.result.cache
